/* fonts */
/* colors */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}
.logo img {
  display: block;
}
.content {
  background: url("../img/main-bg.jpg");
}
.mleft-5 {
  margin-left: -5px;
}
.grey {
  color: #a8a8a8;
}
.green {
  color: #1ea01e;
}
.fz-40 {
  font-size: 40px;
}
.bold {
  font-weight: bold;
}
.header__logo img {
  padding: 20px 0;
}
.header__offer {
  display: flex;
  flex-direction: column-reverse;
  height: 420px;
  background: url("../img/bg.jpg") center center / cover;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.header__offer h1 {
  margin-bottom: auto;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.header__offer h2 {
  margin-top: 60px;
  padding-bottom: 25px;
  font-size: 30px;
  text-align: center;
}
.main-content {
  padding: 0 10%;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.franchise {
  position: relative;
  top: -192px;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  max-width: 720px;
  height: auto;
  margin: auto;
}
.franchise__picture {
  position: absolute;
}
.franchise__picture img {
  width: 100%;
  height: auto;
}
.franchise__link {
  position: absolute;
  top: 27%;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  margin: auto;
  text-align: center;
}
.franchise__link a {
  text-decoration: underline;
  font-family: 'Tahoma', sans-serif;
  color: #5c37ef;
}
.description {
  padding-top: 32%;
}
.description__list {
  margin: 0;
  padding-left: 20px;
}
h2 {
  font-size: 24px;
}
.slogan {
  margin-top: 35px;
  padding: 30px;
  background: #f7f8fa;
  text-align: center;
}
.slogan a {
  text-decoration: underline;
  color: #396ea9;
}
.rules {
  padding: 30px 0;
}
.rules h2 {
  padding-bottom: 10px;
}
.rules__list {
  margin: 0;
  padding-left: 20px;
}
.rules__item {
  padding-bottom: 10px;
}
.rules .column-r h2 {
  margin-bottom: 0;
}
.rules .column-r .green {
  margin-bottom: 0px;
}
.modal-block {
  padding: 30px 0;
  background: #fff4b3;
  border-radius: 5px;
}
.modal-block form {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}
.modal-block form h3 {
  margin-bottom: 0;
  padding-bottom: 25px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.modal-block .form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 14px;
  align-items: center;
}
.modal-block label {
  margin-bottom: 0;
}
.modal-block .form-group input {
  width: 69.233%;
  padding: 8.5px 15px;
  border: 1px solid #a6acb2;
  border-radius: 5px;
}
.modal-block .form-group input.radius-none {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #f7f8fa;
}
.modal-block ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a6acb2;
  opacity: 1;
  /* Firefox */
}
.modal-block .button {
  width: auto;
  padding: 8px 15px;
  margin-left: -42px;
  border: none;
  border-radius: 5px;
  background: #b6d88a;
  color: #fff;
}
.modal-block .button--active {
  background: #0d972b;
}
.modal-block input {
  outline: none;
}
.modal-block .form-group input:focus {
  box-shadow: 0 0 5px 2px #b4e8fa;
}
.modal-block .error {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  color: red;
}
.modal-block .input--error {
  background: #eef0e5;
}
.modal-block .rfield:-webkit-autofill {
  box-shadow: inset 0 0 0 50px #fff !important;
  /* Цвет фона */
}
.ps {
  padding-top: 30px;
  padding-bottom: 60px;
}
.ps p {
  margin-bottom: 0;
}
.footer {
  background: #000;
}
.footer__logo img {
  padding: 20px;
}
@media (max-width: 991px) {
  .modal-block .button {
    margin: 0 auto;
  }
}
@media (max-width: 891px) {
  .modal-block form {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 787px) {
  .description {
    padding-top: 30%;
  }
}
@media (max-width: 767px) {
  .modal-block form {
    width: 96%;
    margin: 0 auto;
    text-align: center;
  }
  .rules h2,
  .rules .column-r {
    text-align: center;
  }
  .col-md-6:first-child {
    padding-bottom: 20px;
  }
}
@media (max-width: 709px) {
  .franchise__link {
    top: 17%;
  }
}
@media (max-width: 691px) {
  .description {
    padding-top: 25%;
  }
}
@media (max-width: 589px) {
  .modal-block label {
    padding-bottom: 10px;
  }
  .modal-block .form-group {
    flex-direction: column;
  }
  .modal-block .form-group input {
    width: 90%;
  }
}
@media (max-width: 520px) {
  .header__offer,
  .main-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 496px) {
  .franchise {
    top: -150px;
  }
}
@media (max-width: 437px) {
  .header__offer h1 {
    font-size: 40px;
  }
  .header__offer h2 {
    font-size: 25px;
  }
  .franchise {
    top: -180px;
  }
  .description {
    padding-top: 20%;
  }
}
@media (max-width: 371px) {
  .franchise {
    top: -140px;
  }
  .franchise__link {
    top: 10%;
  }
  .franchise__link a {
    font-size: 14px;
  }
}
