/* fonts */
@arial: 'Arial', sans-serif;
@tahoma: 'Tahoma', sans-serif;

/* colors */
@white: #fff;
@black: #000;
@purple: #5c37ef;
@grey: #a8a8a8;
@grey-form: #a6acb2;
@grey-input: #eef0e5;
@light-grey: #f7f8fa;
@blue: #396ea9;
@dark-green: #0d972b;
@green: #1ea01e;
@light-green: #b6d88a;
@light-yellow: #fff4b3;


body {
    margin: 0;
    padding: 0;
    font-family: @arial;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

.logo img {
    display: block;
}

.content {
    background: url("../img/main-bg.jpg");
}

.mleft-5 {
    margin-left: -5px;
}

.grey {
    color: @grey;
}

.green {
    color: @green;
}

.fz-40 {
    font-size: 40px;
}

.bold {
    font-weight: bold;
}

.header {
    &__logo img {
        padding: 20px 0;
    }

    &__offer {
        display: flex;
        flex-direction: column-reverse;
        height: 420px;
        background: url("../img/bg.jpg") center center /cover;
        color: @white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &__offer h1 {
        margin-bottom: auto;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
    }

    &__offer h2 {
        margin-top: 60px;
        padding-bottom: 25px;
        font-size: 30px;
        text-align: center;
    }
}

.main-content {
    padding: 0 10%;
    background: @white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.franchise {
    position: relative;
    top: -192px;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    max-width: 720px;
    height: auto;
    margin: auto;

    &__picture {
        position: absolute;
    }

    &__picture img {
        width: 100%;
        height: auto;
    }

    &__link {
        position: absolute;
        top: 27%;
        left: 0;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 50%;
        margin: auto;
        text-align: center;
    }

    &__link a {
        text-decoration: underline;
        font-family: @tahoma;
        color: @purple;
    }
}

.description {
    padding-top: 32%;

    &__list {
        margin: 0;
        padding-left: 20px;
    }
}

h2 {
    font-size: 24px;
}

.slogan {
    margin-top: 35px;
    padding: 30px;
    background: @light-grey;
    text-align: center;

    a {
        text-decoration: underline;
        color: @blue;
    }
}

.rules {
    padding: 30px 0;

    h2 {
        padding-bottom: 10px;
    }

    &__list {
        margin: 0;
        padding-left: 20px;
    }

    &__item {
        padding-bottom: 10px;
    }

    .column-r h2 {
        margin-bottom: 0;
    }

    .column-r .green {
        margin-bottom: 0px;
    }
}

.modal-block {
    padding: 30px 0;
    background: @light-yellow;
    border-radius: 5px;

    form {
        width: 65%;
        margin: 0 auto;
        text-align: center;
    }

    form h3 {
        margin-bottom: 0;
        padding-bottom: 25px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .form-group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        font-size: 14px;
        align-items: center;
    }

    label {
        margin-bottom: 0;
    }

    .form-group input {
        width: 69.233%;
        padding: 8.5px 15px;
        border: 1px solid @grey-form;
        border-radius: 5px;
    }

    .form-group input.radius-none {
        border-radius: 5px 5px 0 0;
        border-bottom: 1px solid @light-grey;
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: @grey-form;
        opacity: 1;
        /* Firefox */
    }

    .button {
        width: auto;
        padding: 8px 15px;
        margin-left: -42px;
        border: none;
        border-radius: 5px;
        background: @light-green;
        color: @white;
    }

    .button--active {
        background: @dark-green;
    }

    input {
        outline: none;
    }

    .form-group input:focus {
        box-shadow: 0 0 5px 2px rgba(180, 232, 250, 1);
    }

    .error {
        display: block;
        margin-bottom: 15px;
        font-size: 14px;
        color: red;
    }

    .input--error {
        background: @grey-input;
    }

    .rfield:-webkit-autofill {
        box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
    }
}

.ps {
    padding-top: 30px;
    padding-bottom: 60px;

    p {
        margin-bottom: 0;
    }
}

.footer {
    background: @black;

    &__logo img {
        padding: 20px;
    }
}

@media (max-width: 991px) {
    .modal-block .button {
        margin: 0 auto;
    }
}

@media (max-width: 891px) {
    .modal-block form {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
}

@media (max-width: 787px) {
    .description {
        padding-top: 30%;
    }
}

@media (max-width: 767px) {

    .modal-block form {
        width: 96%;
        margin: 0 auto;
        text-align: center;
    }

    .rules h2,
    .rules .column-r {
        text-align: center;
    }

    .col-md-6:first-child {
        padding-bottom: 20px;
    }
}

@media (max-width: 709px) {
    .franchise__link {
        top: 17%;
    }
}

@media (max-width: 691px) {
    .description {
        padding-top: 25%;
    }
}

@media (max-width: 589px) {

    .modal-block label {
        padding-bottom: 10px;
    }

    .modal-block .form-group {
        flex-direction: column;
    }

    .modal-block .form-group input {
        width: 90%;
    }
}

@media (max-width: 520px) {

    .header__offer,
    .main-content {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 496px) {
    .franchise {
        top: -150px;
    }
}

@media (max-width: 437px) {

    .header__offer h1 {
        font-size: 40px;
    }

    .header__offer h2 {
        font-size: 25px;
    }

    .franchise {
        top: -180px;
    }

    .description {
        padding-top: 20%;
    }
}

@media (max-width: 371px) {

    .franchise {
        top: -140px;
    }

    .franchise__link {
        top: 10%;
    }

    .franchise__link a {
        font-size: 14px;
    }
}